.container {

	.webgo-control-container {
		float: right;
		 
		.webgo-control {
			margin: 0.5em;
			border: 1px solid grey;
			padding: 0.5em;
			background-color: #ddd;
			word-wrap: break-word;
				
			a.webgo-action {
				cursor: pointer;
			}

			&.webgo-error {
				border: 1px solid red;
				background-color: #faa;
			}

			.webgo-profile-stone {
				max-width: 16px;
				max-height: 16px;
				vertical-align: middle;
				display: inline-block;
			}
			
			.webgo-profile {
				max-width: 100px;
				max-height: 100px;
			}

			&.webgo-player {
				border-color: 1px solid #666;
				padding: 0.5em;
			}

			&.webgo-myturn {
				box-shadow: 0 0 10px;
				background-color: white;
			}
	 
		}
	  
	 }
	 
	 &.horizontal .webgo-control-container .webgo-control {
		display: block;
		div,img { display: block; }
	 }
	 
	 &.vertical .webgo-control-container .webgo-control {
		display: inline-block;
		div,img { display: inline-block; }
		.group div { display: block; }
	 }
	 
}
