/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.webgo-board {
    width: auto;
    background: url('../images/wood1.jpg');
    background-size:100%;
    box-shadow: 0 0 10px;
}
.webgo-board tbody tr td {

    border-top:none;
    padding:0;
    background-image: url('../images/grid-middle.png');
    background-size: 100%;
}

.webgo-board tbody tr td.webgo-coord {
    background-image: none;
}
.webgo-board tbody tr td.top {
    background-image: url('../images/grid-t.png');
}
.webgo-board tbody tr td.right {
    background-image: url('../images/grid-r.png');
}
.webgo-board tbody tr td.bottom {
    background-image: url('../images/grid-b.png');
}
.webgo-board tbody tr td.left {
    background-image: url('../images/grid-l.png');
}
.webgo-board tbody tr td.top.right {
    background-image: url('../images/grid-tr.png');
}
.webgo-board tbody tr td.bottom.right {
    background-image: url('../images/grid-br.png');
}
.webgo-board tbody tr td.bottom.left {
    background-image: url('../images/grid-bl.png');
}
.webgo-board tbody tr td.top.left {
    background-image: url('../images/grid-tl.png');
}
.webgo-board tbody tr td.hoshi {
    background-image: url('../images/grid-hoshi.png');
}

.webgo-coord,
.webgo-stone {
    width:32px;
    height:32px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.webgo-stone-empty {

    background-image: none;

}

.webgo-stone-white {

    background-image: url('../images/white.png');

}

.webgo-stone-black {

    background-size: 95%;
    background-position: 1px 2px;
    background-image: url('../images/black.png');

}

.webgo-stone-white-hover {

    background-image: url('../images/white-hover.png');

}

.webgo-stone-black-hover {

    background-size: 95%;
    background-position: 1px 2px;
    background-image: url('../images/black-hover.png');

}


a.webgo-action {
    cursor: pointer;
}

.webgo-players li {

  display: inline;
  list-style-type: none;
  margin-right: 1em;
  border: red;
  background-color: #faa;

}

.webgo-players li div {
  display: inline;
  border: 1px solid red;
  background-color: #faa;
  padding: 0.5em;
}

.webgo-players li .webgo-black {
  border-color: black;
  background-color: gray;
}
.webgo-players li .webgo-white {
  border-color: gray;
  background-color: white;
}
.webgo-players li .webgo-myturn {
  border-width: 3px;
}

