$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';




/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
  .header, .footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* Custom page header */
  .board-container { display:inline-block; }
  .webgo-control-container {
    float: right;
  }
  .webgo-control {

    margin: 0.5em;
    border: 1px solid grey;
    padding: 0.5em;


    a.webgo-action {
        cursor: pointer;
    }

    &.webgo-error {

      border: 1px solid red;
      background-color: #faa;

    }

    &.webgo-player {
      border: none;
      margin: 0.5em;
      padding: 0;

      div {
        display: inline;
        border: 1px solid red;
        background-color: #faa;
        padding: 0.5em;
      }

      .webgo-black {
        border-color: black;
        background-color: gray;
      }

      .webgo-white {
        border-color: gray;
        background-color: white;
      }

      .webgo-myturn {
        border-width: 3px;
      }

    }

  }
  /* Custom page footer */
  .footer { }
}

/* Make the masthead heading the same height as the navigation */


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .container {
      max-width: 730px;
  }
}




.webgo-board {
    width: auto;
    background: url('../images/wood1.jpg');
    background-size:100%;
    box-shadow: 0 0 10px;

    tbody tr {
        td {

            border-top:none;
            text-align: center;
            vertical-align: middle;
            padding:0;
            background-image: url('../images/grid-middle.png');
            background-size: 100%;
        }
        td.webgo-coord { background-image: none; }
        td.top { background-image: url('../images/grid-t.png'); }
        td.right { background-image: url('../images/grid-r.png'); }
        td.bottom { background-image: url('../images/grid-b.png'); }
        td.left { background-image: url('../images/grid-l.png'); }
        td.top.right { background-image: url('../images/grid-tr.png'); }
        td.bottom.right { background-image: url('../images/grid-br.png'); }
        td.bottom.left { background-image: url('../images/grid-bl.png'); }
        td.top.left { background-image: url('../images/grid-tl.png'); }
        td.hoshi { background-image: url('../images/grid-hoshi.png'); }
    }

    .webgo-coord div {
      overflow: hidden;
    }
    .webgo-stone {
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .webgo-stone-empty {

        background-image: none;

    }

    .webgo-stone-white {

        background-image: url('../images/white.png');

    }

    .webgo-stone-black {

        background-size: 95%;
        background-position: 1px 2px;
        background-image: url('../images/black.png');

    }

    .webgo-stone-white-hover {

        background-image: url('../images/white-hover.png');

    }

    .webgo-stone-black-hover {

        background-size: 95%;
        background-position: 1px 2px;
        background-image: url('../images/black-hover.png');

    }

    .webgo-stone-white-point {

        background-image: url('../images/white-hover.png');

    }

    .webgo-stone-black-point {

        background-size: 95%;
        background-position: 1px 2px;
        background-image: url('../images/black-hover.png');

    }

    .webgo-stone-white-dead {

        background-size: 95%;
        background-position: 1px 2px;
        background-image: url('../images/point-and-prisoner.png');

    }

    .webgo-stone-black-dead {

        background-size: 95%;
        background-position: 1px 2px;
        background-image: url('../images/point-and-prisoner.png');

    }

}


.webgo-configure {

  margin: 1em;
  border: 1px solid grey;
  text-align: center;
  padding:0.5em;

  label,select,button,input {
    width: 40%;
  }
  button.small {

    width:10%;
  }

}

