<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-repeat="a in actions">
    <a class="webgo-action" ng-click="action(a.name)">{{a.label}}</a>
    </li>
  </ul>
  <h3 class="text-muted">webgo</h3>
  &lt;{{connection}}&gt;
  &lt;{{stones | stoneCount}}&gt;
  <input type="checkbox" ng-model="showCoords" /> coordinates
</div>
</div>

<ul class="webgo-players">
  <li><player ng-model="black" color="'black'" turn="blackTurn" time-left="blackTime" prisoners="blackPrisoners"/></li>
  <li><player ng-model="white" color="'white'" turn="whiteTurn" time-left="whiteTime" prisoners="whitePrisoners"/></li>
  <li><div class="webgo-error" ng-show="error" >{{error}}</div></li>
</ul>


<div ng-show="!configured" class="webgo-configure">
  <form>
    <label for="black">black</label>
    <input name="black" disabled type="text" value="black"/> <br />
    <label for="switch"></label>
    <button name="switchPlayers" class="small">switch</button> <br/>
    <label for="white">white</label>
    <input name="white" disabled type="text" value="white"/> <br />
    <br />
    <label for="komi">komi</label>
    <select name="komi" ng-model="komi" ng-options="k for k in komis" /> <br />
    <label for="handicaps">handicaps</label>
    <select name="handicaps" ng-model="handicaps" ng-options="h for h in handicapss" /> <br />
    <label for="boardSize">boardSize</label>
    <input name="boardSize" ng-model="boardSize" type="number" ng-min="5" ng-max="29"/> <br />
    <label for="timeMain">timeMain</label>
    <input name="timeMain" ng-model="timeMain" type="number" ng-min="0" ng-max="3600"/> <br />
    <label for="timeExtraPeriods">timeExtraPeriods</label>
    <input name="timeExtraPeriods" ng-model="timeExtraPeriods" type="number" /> <br />
    <label for="timeStonesPerPeriod">timeStonesPerPeriod</label>
    <input name="timeStonesPerPeriod" ng-model="timeStonesPerPeriod" type="number" /> <br />
    <label for="timePeriodLength">timePeriodLength</label>
    <input name="timePeriodLength" ng-model="timePeriodLength" type="number" /> <br />
    <acceptor ng-model="configurationOkBlack" active="username==black" change="acceptConfiguration()"/>
    <acceptor ng-model="configurationOkWhite" active="username==white" change="acceptConfiguration()"/>
  </form>
</div>

<div class="footer"> </div>
