<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-repeat="a in actions">
    <a class="webgo-action" ng-click="action(a.name)">{{a.label}}</a>
    </li>
  </ul>
  <h3 class="text-muted">webgo</h3>
  &lt;{{connection}}&gt;
  &lt;{{stones | stoneCount}}&gt;
  <input type="checkbox" ng-model="showCoords" /> coordinates
</div>
</div>

<ul class="webgo-players">
  <li><player ng-model="black" timeLeft="blackTime"/></li>
  <li><player ng-model="white" timeLeft="whiteTime"/></li>
</ul>
{{blackTime}}
{{whiteTime}}
<div class="webgo-error" ng-show="error" >{{error}}</div>

<goboard stones="stones"
         stone-size="24"
         cb-hover="hover(row,col)"
         cb-hover-out="hoverOut(row,col)"
         cb-play="play(row,col)"
         coords="showCoords"/>

<div class="footer"> </div>
