<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a class="webgo-action" ng-click="pass()">Pass</a></li>
    <li><a class="webgo-action" ng-click="resign()">Resign</a></li>
  </ul>
  <h3 class="text-muted">webgo</h3>
  {{stones | stoneCount}}
  <input type="checkbox" ng-model="showCoords" /> Show coordinates
</div>
</div>

<ul class="webgo-players">
  <li><player ng-model="black" /></li>
  <li><player ng-model="white" /></li>
</ul>

<goboard stones="stones"
         stone-size="36"
         cb-hover="hover(row,col)"
         cb-hover-out="hoverOut(row,col)"
         cb-play="play(row,col)"
         coords="showCoords"/>

<div class="footer"> </div>
