<table class="table webgo-board {{boardCoordClass}}">
  <tr>
    <td ng-show="stones.length" coord="" size="sSize" /></td>
    <td ng-repeat="row in stones track by $index" coord="$index" size="sSize" /></td>
  </tr>
  <tr ng-repeat="row in stones track by $index">
    <td coord="$index" display="coords" size="stoneSize" /></td>
    <td ng-repeat="cell in row track by $index"
        ng-click="cbPlay({row:$parent.$index,col:$index})"
        ng-mouseover="cbHover({row:$parent.$index,col:$index})"
        ng-mouseleave="cbHoverOut({row:$parent.$index,col:$index})"
        ng-class="cellClass($parent.$index,$index)">
    <div class="webgo-stone {{cell|stoneClass}}"
      ng-style="sizeStyle" />
    </td>
    <td coord="$index" size="sSize" /></td>
  </tr>
  <tr>
    <td ng-show="stones.length" coord="" size="sSize" /></td>
    <td ng-repeat="row in stones track by $index" coord="$index" size="sSize" /></td>
  </tr>
</table>
