<div ng-show="!user" class="webgo-control">
  <a href="/auth/google">Login via Google</a>
</div>
<div ng-show="false && user" class="webgo-control">
  <img class="webgo-profile" src="{{user.picture}}" />
  {{user.name}}
</div>
<div class="webgo-control">
  <div>{{stones | stoneCount}}</div>
  <div>{{connection}}</div>
  <input type="checkbox" ng-model="showCoords" ></input> coordinates
</div>

<div class="webgo-control webgo-player webgo-black" player
  ng-model="black" turn="blackTurn"
  time-left="blackTime" prisoners="blackPrisoners">
</div>
<div class="webgo-control webgo-player webgo-white" player
  ng-model="white" turn="whiteTurn" time-left="whiteTime"
  prisoners="whitePrisoners">
</div>
<div class="webgo-control" class="webgo-error" ng-show="error" >{{error}}</div>

<div ng-repeat="a in actions" class="webgo-control">
  <a class="webgo-action" ng-click="action(a.name)">{{a.label}}</a>
</div>

