<div ng-show="!user" class="webgo-control">
  <a href="/auth/google?redirect={{authRedirect}}">Login via Google</a>
</div>
<div ng-show="user && notPlaying" class="webgo-control">
  <img class="webgo-profile" src="{{user.picture}}" />
  <div>{{user.name}}</div>
  <div></div>
  <div> <a href="/auth/logout?redirect={{authRedirect}}">Logout</a></div>
</div>
<div class="webgo-control webgo-player webgo-black" player
  ng-model="black" turn="blackTurn" color="'black'"
  time-left="blackTime" prisoners="blackPrisoners">
</div>
<div class="webgo-control webgo-player webgo-white" player
  ng-model="white" turn="whiteTurn" color="'white'"
  time-left="whiteTime" prisoners="whitePrisoners">
</div>
<div class="webgo-control" class="webgo-error" ng-show="error" >{{error}}</div>
<div class="webgo-control">
	<div class="group">
		<div>{{stones | stoneCount}}</div>
		<div>{{connection}}</div>
		<div><input type="checkbox" ng-model="showCoords" ></input> coordinates</div>
	</div>
</div>

<div ng-repeat="a in actions" class="webgo-control">
  <a class="webgo-action" ng-click="action(a.name)">{{a.label}}</a>
</div>

